<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>เข้าสู่ระบบ</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="ion-padding">
      <ion-text>
        <p>เกี่ยวกับเรา</p>
      </ion-text>
      <ion-img src="../../assets/img/logo.jpg"></ion-img>
      <ion-text>
        <p>คลินิกเฉพาะทางด้านเวชกรรมโรคไต</p>
        <p>ที่อยู่ : 96/5-6 หมู่3 ตำบลบางกระเบา อำเภอนครชัยศรี นครปฐม 73120</p>
        <p>เบอร์โทร : 092-692-9955</p>
        <p>วัน เวลา ทำการ : ทุกวัน 10:00-21:00 น.</p>
      </ion-text>
    </div>

    <ion-row>
      <ion-col size="4" style="border-right-style: none;">
        <div>โรคไต :</div>
      </ion-col>
      <ion-col>
        <div> เนื่องจากไตเป็นอวัยวะที่ไม่สามารถซ่อมแซมตัวเองให้กลับมาสมบูรณ์ได้ การเกิดความผิดปกติกับไตจึงเป็นเรื่องอันตราย โดยในช่วงแรกผู้ป่วยโรคไตแทบจะไม่มีสัญญาณของโรคร้ายนี้เลย แต่อาการจะปรากฏออกมาในระยะท้าย ๆ ที่ไตได้รับความเสียหายไปมากแล้ว 
          จนในระดับสูงสุดอาจเกิดอาการไตวาย และเสียชีวิตได้ อาการของผู้ป่วยโรคไตที่ปรากฏมีดังนี้
          อ่อนเพลีย ไม่มีแรง เหนื่อยง่าย
          มีปัญหาเรื่องการนอนหลับ
          ปัสสาวะผิดปกติ เช่น มีกลิ่นผิดปกติ มีสีผิดปกติ เป็นต้น
          ปวดศีรษะ
          คลื่นไส้ อาเจียน
          มีอาการเบื่ออาหาร ตัวบวม 
          อาจจะมีอาการหัวใจเต้นผิดปกติ ใจสั่น หมดสติ เป็นลม
          ปวดหลัง ปวดบั้นเอว
          ถ้าไตเสื่อมจนถึงการผลิตฮอร์โมนแย่ลง อาจเกิดภาวะซีด</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" style="border-right-style: none;">
        <div>ระยะของโรคไต :</div>
      </ion-col>
      <ion-col>
        <div>ระยะที่ 1 เป็นระยะที่ไตเริ่มเสื่อม (มีโปรตีนในปัสสาวะ) ค่าการทำงานของไต หรือ ค่า GFR ปกติ ซึ่งจะอยู่ที่ประมาณ 90 หรือมากกว่า<br>
          ระยะที่ 2 ไตเสื่อม ค่าการทำงานของไต หรือ ค่า GFR ลดลงเล็กน้อย ซึ่งจะอยู่ที่ประมาณ 60-89<br>
          ระยะที่ 3  ค่าการทำงานของไต หรือ ค่า GFR ลดลงปานกลางซึ่งจะอยู่ที่ประมาณ 30-59<br>
          ระยะที่ 4 ค่าการทำงานของไต หรือ ค่า GFR ลดลงมาก ซึ่งจะอยู่ที่ประมาณ  15-29<br>
          ระยะที่ 5 เข้าสู่ภาวะไตวาย ค่าการทำงานของไต หรือ ค่า GFR น้อยกว่า 15</div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>