<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>เข้าสู่ระบบ</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
      <!-- <ion-col align-self-center> -->
        <div class="buttom">
        <ion-grid>
          <ion-row>

            <ion-text>
              <p>ติดต่อ/สอบถาม</p>
            </ion-text>

            <ion-col>
              <ion-button ion-button color="danger" expand="block" round icon-start> <ion-icon name="logo-facebook"></ion-icon> Facebook </ion-button>
            </ion-col>

            <ion-col>
              <br><ion-button ion-button color="danger" expand="block" round icon-start> <ion-icon name="create"></ion-icon> Line </ion-button>
            </ion-col>

            <ion-col>
              <br><ion-button ion-button color="danger" expand="block" round icon-start> <ion-icon name="call"></ion-icon> Phone </ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>
        </div>

</ion-content>