 <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="buttom">
    <!-- <ion-item lines="full"></ion-item> -->

    <ion-text>
      <p>ข้อมูลส่วนตัว</p>
    </ion-text>

    <ion-item>
      <ion-label class="font" position="floating">ชื่อ-นามสกุล</ion-label>
      <ion-input class="font2" type="text" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label class="font" position="floating">อายุ</ion-label>
      <ion-input class="font2" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="font" position="floating">เลขบัตรประชาชน</ion-label>
      <ion-input class="font2" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="font" position="floating">หมายเลขผู้ป่วย</ion-label>
      <ion-input class="font2" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="font" position="floating">อีเมล/เบอร์โทร</ion-label>
      <ion-input class="font2" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="font" position="floating">ที่อยู่</ion-label>
      <ion-input class="font2" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="font" position="floating">รายละเอียดอาการ</ion-label>
      <ion-input class="font2" type="text" required></ion-input>
    </ion-item>

    <!-- <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">ลงทะเบียน</ion-button>
      </ion-col>
    </ion-row> -->
  </form>
</ion-content>